{% extends 'base.html' %}
{% block contents %} 
{% load static %}
<section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2 style="font-family: Pretendard-ExtraBold; font-size: 45px;">추천 레시피 생성</h2>
      </div>
      <p style="font-family: Pretendard-Regular; font-size: 25px;" >
        어떤 레시피를 만들어볼까요?
        <br>
        원하는 카테고리를 선택해주세요.
        <br>
      </p>
    </div>
    
    <div class="container-fluid">

        <div class="fruit_container">
            <!-- 첫 번째 박스 -->
            <a href="{% url 'cook_loading1' %}" class="box">
              <img src="{% static 'images/f1.jpg' %}" alt="">
              <div class="link_box">
                <h5>유통기한 임박!</h5>
              </div>
            </a>
          
            <!-- 두 번째 박스 -->
            <a href="{% url 'cook_loading2' %}" class="box">
              <img src="{% static 'images/blacknwhite2.jpg' %}" alt="Blueberry">
              <div class="link_box">
                <h5>흑백요리사 따라잡기</h5>
              </div>
            </a>
          
            <!-- 세 번째 박스 -->
            <a href="{% url 'cook_loading3' %}" class="box">
              <img src="{% static 'images/cook.jpg' %}" alt="Banana">
              <div class="link_box">
                <h5>요리 초보자를 위한 레시피</h5>
              </div>
            </a>
          
            <!-- 네 번째 박스 -->
            <a href="{% url 'cook_loading4' %}" class="box">
              <img src="{% static 'images/salad.jpeg' %}" alt="Apple">
              <div class="link_box">
                <h5>다이어트를 위한 저칼로리 요리</h5>
              </div>
            </a>
          
            <!-- 다섯 번째 박스 -->
            <a href="{% url 'cook_loading5' %}" class="box">
              <img src="{% static 'images/mulgogi.jpg' %}" alt="Mango">
              <div class="link_box">
                <h5>건강을 위한 저당 요리</h5>
              </div>
            </a>
          
            <!-- 여섯 번째 박스 -->
            <a href="{% url 'cook_loading6' %}" class="box">
              <img src="{% static 'images/peanut.jpg' %}" alt="Strawberry">
              <div class="link_box">
                <h5>알레르기식품X 요리</h5>
              </div>
            </a>
          </div>
          
      </div>
    </div>
  </section>

  <div>
    <br><br><br><br><br><br><br><br><br>
  </div>
  

  {% endblock %}