{% extends 'base.html' %}
{% load static %}
{% block contents %} 

   <!-- 메인 슬라이드 섹션 -->
  <div class="container">
    <div class="main-slide" data-link="{% url 'best_before' %}">
      <img src="{% static 'images/main2.jpg' %}">
      <div class="overlay">
        <h1 style="font-family: Pretendard-Bold;">지금 내 냉장고</h1>
    </div>
    </div>

    <!-- 그리드 섹션 -->
    <div class="grid-container">
      <div class="grid-item" data-link="{% url 'recipes' %}">
        <img src="{% static 'images/pf1.jpg' %}">
        <div class="overlay-text" style="font-family: Pretendard-Bold;">추천 레시피</div>
      </div>
      <div class="grid-item" data-link="{% url 'add_food' %}">
        <img src="{% static 'images/yolo.png' %}">
        <div class="overlay-text" style="font-family: Pretendard-Bold;">음식 추가</div>
      
      </div>
      <div class="grid-item" data-link="{% url 'community' %}">
        <img src="{% static 'images/main3.jpg' %}" >
        <div class="overlay-text" style="font-family: Pretendard-Bold;">맛있는 게시판</div>
      </div>
    </div>
  </div>



  <section class="hot_section layout_padding">
    <div class="container">
        <div class="heading_container" style="margin-top: 50px;">
            <h2 style="font-family: Pretendard-ExtraBold;">
                식재료가 부족하신가요?
            </h2>
            <hr>
        </div>
        <br>
        <div class="recipe-section">
            <br>
            <p style="font-family: Pretendard-Regular;">IOMEAL로 편리하게 장보세요! <br>
                쿠팡, 마켓컬리, 이마트몰, 홈플러스, 롯데마트에서 원하는 식료품을 받아 볼 수 있습니다. <br>
            </p>
        </div>
        <!-- 둥근 네모 세 개 -->
        <div class="image-grid">
          <a href="https://www.coupang.com">
            <div class="image-item">
                <img src="{% static 'images/coupang.jpg' %}" alt="Image 1">
            </div>
          </a>
          <a href="https://www.kurly.com">
            <div class="image-item">
                <img src="{% static 'images/kurly.png' %}" alt="Image 2">
            </div>
          </a>
          <a href="https://emart.ssg.com">
            <div class="image-item">
                <img src="{% static 'images/emart.png' %}" alt="Image 3">
            </div>
          </a>
          <a href="https://mfront.homeplus.co.kr/">
            <div class="image-item">
                <img src="{% static 'images/homeplus.jpg' %}" alt="Image 4">
            </div>
          </a>
          <a href="https://www.lotteon.com/m/display/main/lottemart">
            <div class="image-item">
                <img src="{% static 'images/lottemart.jpg' %}" alt="Image 5">
            </div>
          </a>
        </div>
    </div>
</section>

<style>
  /* 이미지 그리드 스타일 */
  .image-grid {
      display: flex;
      justify-content: center;
      gap: 30px; /* 이미지 간의 간격 조정 */
      margin-top: 20px;
  }

  .image-item {
      flex: 1;
      max-width: 150px; /* 이미지의 최대 너비를 120px로 줄임 */
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .image-item img {
      width: 100%;
      height: auto;
      display: block;
  }

  .image-item:hover {
    transform: scale(1.1); /* 아이콘 크기를 1.1배로 확대 */
    transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}




</style>



  <!-- hot section -->

  <section class="hot_section layout_padding">
    <div class="container">
      <div class="heading_container" style="margin-top: 50px;">
        <h2 style="font-family: Pretendard-ExtraBold;">
          유통기한이 임박한 식재료
        </h2>
        <hr>
      </div>
      <br>
      <div class="recipe-section">
        <br>
        <p style="font-family: Pretendard-Regular;">현재 냉장고 내 유통기한이 임박한 식재료들 입니다. <br>
          이 재료들로 맛있고 건강한 요리를 해보세요! <br>
          딱 알맞는 레시피를 추천해드릴게요
        </p>
        <div class="blog_btn">
          <a href="{% url 'cook_loading1' %}" class="btn btn-dark rounded-pill">레시피 추천 받기</a>
        </div>
      </div>
      
      
    </div>
    <div class="carousel_container">
      <div class="container">
        <div class="carousel-wrap ">
          <div class="owl-carousel">


            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/springonion.jpg' %}" />
                </div>
                <div class="detail-box">
                  <h4 style="font-family: Pretendard-Bold;"> <br>
                    대파
                  </h4>
                  <p style="font-family: Pretendard-Regular;">
                    보관날짜: 2024.11.01 <br>
                    유통기한: 2024.11.08
                  </p>
                  <p style="font-family: Pretendard-Bold; color: red;">
                    D-1
                  </p>
                </div>
              </div>
            </div>




            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/radish.jpg' %}" />
                </div>
                <div class="detail-box">
                  <h4 style="font-family: Pretendard-Bold;"> <br>
                    무
                  </h4>
                  <p style="font-family: Pretendard-Regular;">
                    보관날짜: 2024.11.01 <br>
                    유통기한: 2024.11.10
                  </p>
                  <p style="font-family: Pretendard-Bold; color: red;">
                    D-3
                  </p>
                </div>
              </div>
            </div>




            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/bill.png' %}" />
                </div>
                <div class="detail-box">
                  <h4 style="font-family: Pretendard-Bold;"> <br>
                    소갈비
                  </h4>
                  <p style="font-family: Pretendard-Regular;">
                    보관날짜: 2024.10.28 <br>
                    유통기한: 2024.11.11
                  </p>
                  <p style="font-family: Pretendard-Bold; color: red;">
                    D-4
                  </p>
                </div>
              </div>
            </div>



            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/onion.jpg' %}" />
                </div>
                <div class="detail-box">
                  <h4 style="font-family: Pretendard-Bold;"> <br>
                    양파
                  </h4>
                  <p style="font-family: Pretendard-Regular;">
                    보관날짜: 2024.10.21 <br>
                    유통기한: 2024.11.11
                  </p>
                  <p style="font-family: Pretendard-Bold; color: red;">
                    D-4
                  </p>
                </div>
              </div>
            </div>
            

            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/apple.jpg' %}" />
                </div>
                <div class="detail-box">
                  <h4 style="font-family: Pretendard-Bold;"> <br>
                    사과
                  </h4>
                  <p style="font-family: Pretendard-Regular;">
                    보관날짜: 2024.10.28 <br>
                    유통기한: 2024.11.11
                  </p>
                  <p style="font-family: Pretendard-Bold; color: red;">
                    D-4
                  </p>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/pepper.jpg' %}" />
                </div>
                <div class="detail-box">
                  <h4 style="font-family: Pretendard-Bold;"> <br>
                    고추
                  </h4>
                  <p style="font-family: Pretendard-Regular;">
                    보관날짜: 2024.10.28 <br>
                    유통기한: 2024.11.11
                  </p>
                  <p style="font-family: Pretendard-Bold; color: red;">
                    D-4
                  </p>
                </div>
              </div>
            </div>


            


          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    // 모든 요소에 대한 클릭 이벤트 추가
    document.querySelectorAll('[data-link]').forEach(item => {
        item.addEventListener('click', function() {
            const link = this.getAttribute('data-link'); // data-link 값 가져오기
            if (link) {
                window.location.href = link; // 해당 링크로 이동
            }
        });
    });
</script>



</section>

{% endblock %}