{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 선택</title>
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

      <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap"
    rel="stylesheet" />
  
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- responsive style -->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  

<style>
  .blog_btn {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

@font-face {
      font-family: 'Pretendard-Regular';
      src: url('{% static "fonts/Pretendard-Regular.otf" %}');
    }

    @font-face {
      font-family: 'Pretendard-Bold';
      src: url('{% static "fonts/Pretendard-Bold.otf" %}');
    }

    @font-face {
      font-family: 'Pretendard-ExtraBold';
      src: url('{% static "fonts/Pretendard-ExtraBold.otf" %}');
    }
</style>
</head>
<body>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{% url 'main_home' %}">
          <img src="{% static 'images/fridge2.png' %}" alt="" />
          <span>
          IOMEAL
          </span>
        </a>
    
        <div class="navbar-collapse" id="">
          <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
          </div>
          <div id="myNav" class="overlay">
          <div class="overlay-content" style="font-family: Pretendard-Bold;">
            <a href="{% url 'main_home' %}" style="margin-bottom: 5px;">홈 화면</a>
            <a href="{% url 'add_food' %}" style="margin-bottom: 5px;">음식 추가</a>
            <a href="{% url 'recipes' %}" style="margin-bottom: 5px;">레시피 추천</a>
            <a href="{% url 'best_before' %}" style="margin-bottom: 5px;">유통기한 확인</a>
            <a href="{% url 'community' %}" style="margin-bottom: 5px;">맛있는 게시판</a>
          </div>
          </div>
        </div>
        </nav>
      </div>
      </header>
      <!-- end header section -->

    <div class="main">
        <div class="container"> <!-- 둥근 사각형 배경 -->
            <div class="label">프로필을 선택하세요.</div>
            <div class="profile">
              <div class="link" onclick="location.href = '{% url 'main_home' %}'"></div?>
                    <div class="icon" style="background-image:url({% static 'images/dad.jpg' %})"></div>

                    <div class="name">김민수</div>
                </div>
              <div class="link" onclick="location.href = '{% url 'main_home' %}'"></div?>
                    <div class="icon" style="background-image:url({% static 'images/mom.jpg' %})" ></div>
                    <div class="name">이지연</div>
                </div>
              <div class="link" onclick="location.href = '{% url 'main_home' %}'"></div?>
                    <div class="icon" style="background-image:url({% static 'images/daughter.jpg' %})" ></div>
                    <div class="name">김서연</div>
                </div>
              <div class="link" onclick="location.href = '{% url 'main_home' %}'"></div?>
                    <div class="icon" style="background-image:url({% static 'images/son.jpg' %})" ></div>
                    <div class="name">김준호</div>
                </div>
              <div class="link" onclick="location.href = '{% url 'choice' %}'"></div?>
                    <div class="icon" style="background-image:url({% static 'images/plus_icon.png' %})" ></div>
                    <div class="name">프로필 추가</div>
                </div>
            </div>
            <div class="blog_btn">
        <a href="" class="btn btn-dark rounded-pill col-3 mt-3">프로필 관리</a>
      </div>
        </div>
    </div>


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
    <script>
      function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
          .querySelector(".custom_menu-btn")
          .classList.toggle("menu_btn-style");
      }
    </script>
</body>
</html>
