.fixed-button, .fixed-button:hover, .fixed-button:focus, .fixed-button:active {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #436bf1 !important;
    color: white !important;
    border: none !important;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    outline: none !important; /* 포커스 시 외곽선 제거 */
    z-index: 1000;
}

.popup-list {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden; /* 보이지 않을 때 완전히 숨김 */
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.popup-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-list.show {
    opacity: 1;
    visibility: visible; /* 보일 때 활성화 */
    transform: translateY(0);
}

.popup-list li {
    padding: 10px;
    cursor: pointer;
}

.popup-list li:hover {
    background-color: #f0f0f0;
}

.popup-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    padding: 5px 10px;
    cursor: default;
}